<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="FeedController">

    <ion-pane>
      <ion-header-bar class="bar-calm">
        <h1 class="title">Darby Panther Press</h1>
      </ion-header-bar>
      <ion-content> <!-- ng-controller="FeedController" --> 
	  <ion-refresher pulling-text="Panther Press Refresh..." on-refresh="doRefresh()"></ion-refresher>
	 
                <ion-list>
					<ion-item class="item item-thumbnail-left" ng-repeat="entry in entries" ng-click="browse(entry.url)">
						<img ng-src="{{!entry.attachments[0].url &amp;&amp; &apos;icon.png&apos; || entry.attachments[0].images.thumbnail.url}}" onerror="this.src=&apos;icon.png&apos;;this.onerror=&apos;&apos;;">
						
						<b ng-bind-html="entry.title"></b>
						<p ng-bind-html="entry.excerpt"></p>
					</ion-item>
                </ion-list>
            </ion-content>
    </ion-pane>
  </body>
</html>
